[submodule "GNL"]
	path = Rank01/GNL
	url = https://github.com/melanieyanez/new_GNL.git
[submodule "ft_printf"]
	path = Rank01/ft_printf
	url = https://github.com/melanieyanez/ft_printf.git
[submodule "exam_rank_02"]
	path = Rank01/exam_rank_02
	url = https://github.com/melanieyanez/exam_rank_02.git
[submodule "minitalk"]
	path = Rank02/minitalk
	url = https://github.com/melanieyanez/new_minitalk.git
[submodule "push_swap"]
	path = Rank02/push_swap
	url = https://github.com/melanieyanez/push_swap.git
[submodule "so_long"]
	path = Rank02/so_long
	url = https://github.com/melanieyanez/so_long.git
[submodule "Rank00/Libft"]
	path = Rank00/Libft
	url = https://github.com/melanieyanez/new_libft.git
