[submodule "minitalk"]
	path = Rank02/minitalk
	url = https://github.com/melanieyanez/new_minitalk.git
[submodule "so_long"]
	path = Rank02/so_long
	url = https://github.com/melanieyanez/so_long.git
[submodule "Rank00/Libft"]
	path = Rank00/Libft
	url = https://github.com/melanieyanez/new_libft.git
[submodule "Rank01/Exam_rank_02"]
	path = Rank01/Exam_rank_02
	url = https://github.com/melanieyanez/exam_rank_02.git
[submodule "Rank01/get_next_line"]
	path = Rank01/get_next_line
	url = https://github.com/melanieyanez/new_GNL.git
[submodule "Rank01/ft_printf"]
	path = Rank01/ft_printf
	url = https://github.com/melanieyanez/ft_printf.git
[submodule "Rank02/push_swap"]
	path = Rank02/push_swap
	url = https://github.com/melanieyanez/push_swap.git
[submodule "Rank03/minishell"]
	path = Rank03/minishell
	url = https://github.com/melanieyanez/minishell.git
[submodule "Rank03/Philosophers"]
	path = Rank03/Philosophers
	url = https://github.com/melanieyanez/Philosophers.git
[submodule "Rank04/cub3D"]
	path = Rank04/cub3D
	url = https://github.com/melanieyanez/cub3D.git
[submodule "Rank04/CPP/CPP00"]
	path = Rank04/CPP/CPP00
	url = https://github.com/melanieyanez/CPP00.git
[submodule "Rank04/CPP/CPP01"]
	path = Rank04/CPP/CPP01
	url = https://github.com/melanieyanez/CPP01.git
[submodule "Rank04/CPP/CPP02"]
	path = Rank04/CPP/CPP02
	url = https://github.com/melanieyanez/CPP02.git
[submodule "Rank04/CPP/CPP03"]
	path = Rank04/CPP/CPP03
	url = https://github.com/melanieyanez/CPP03.git
[submodule "Rank04/CPP/CPP04"]
	path = Rank04/CPP/CPP04
	url = https://github.com/melanieyanez/CPP04.git
